<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Event</title>
</head>
<body>
    <h1>Edit Event</h1>
    <form action="{{ url_for('edit_event', event_id=event.id) }}" method="POST">
        <label for="event_name">Event Name:</label>
        <input type="text" id="event_name" name="event_name" value="{{ event.event_name }}" required><br>

        <label for="event_date">Event Date:</label>
        <input type="date" id="event_date" name="event_date" value="{{ event.event_date }}" required><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description">{{ event.description }}</textarea><br>
        <!-- Form for deleting events -->

        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
